body {
    font-family: Arial, sans-serif;
    background-color: #0f0f14;
    color: #ffffff;
}

.navbar {
    background-color: #09090d;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}


.hero {
    min-height: 600px;
    display: flex;
    align-items: center;
    background-color: #1b142b;
    padding: 60px 0;
    color: #ffffff;
}

.btn-primary {
    background-color: #8b2be2;
    border-color: #8b2be2;
}

    .btn-primary:hover {
        background-color: #b83df2;
        border-color: #b83df2;
    }

.card {
    background-color: #18151f;
    color: #ffffff;
    border-color: #30243d;
    transition: transform 0.3s ease;
}

#productos {
    scroll-margin-top: 80px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.text-secundario {
    color: #b9b3c4;
}

form {
    border: 2px solid #8b2be2;
    border-radius: 15px;
    padding: 20px;
}

footer {
    background-color: #09090d;
    color: #ffffff;
}
